{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Welcome!</h1>
<div class="row">
    <div class="col-md-12">
        <div class="card mb-6">
            <div class="card-body">
                <h1 class="card-title">Resume &amp; Self-Intro</h1>
                <h4>Sandy Kee,</h4>
                <p class="card-text">
                    A hearing impaired and speech impairement had overcome many obstacles in my learning journey and I had met a helpful people.
                    With their help, I have achieved success results in both education and training. My accomplishments also included National Youth Achievement Award
                    and Outstanding Student Hearing Impaired. It has boasted my self-confidence and positive attitude in me.
                </p>
                <hr />
                <h4>Work Experience</h4>
                <ul>
                    <li style="padding-bottom:5%">
                        GovTech Company,<br />
                        <i>UI/UX Designer Intern</i> Mar - Aug 2019<br />
                        <p>
                            22 weeks of the Internship with the GovTech Company. Sandy was assigned the UI/UX Designer role during the internship.
                            She was tasked to enhance the MyCareerFuture system for job seekers and employers.
                        </p>
                        <p>Some of the competencies I've exhibited:</p>
                        <ul>
                            <li>
                                Pair programmed with her supervisor to develop new features for the MyCareerFuture system using REACT language and Tachyon CSS Toolkits.
                            </li>
                            <li>Code Front End new features & Set up the storybook style guide using Visual Studio</li>
                            <li>Worked to program Nudge styling for the job seekers in CSS and HTML5, and created a style guide for the portal</li>
                            <li>Designed the Lo-Fi prototype, and the Hi-Fi pixel-perfect prototypes using the Sketch software</li>
                            <li>Participated in the Users Testing and Interview sessions</li>
                            <li>Participated in the daily discussion and brainstorming on the new features with the UXD team</li>
                        </ul>
                    </li>
                    <li>Free Photographer</li>
                    <p>Taking photos for the events, weddings, individual and group photo shoots</p>
                </ul>
                <hr />
                <h4>Education</h4>
                <table style="width:100%">
                    <tr>
                        <td style="font-style:italic">Ngee Ann Polytechnic</td>
                        <td></td>
                        <td>Apr 2017 - Present</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Candidate for Diploma in Information Technology</td>
                    </tr>
                    <tr>
                        <td>+ Culminative GPA: 3.34</td>
                    </tr>
                    <tr>
                        <td>+ Expected to graduate in 2020</td>
                    </tr>
                    <tr>
                        <td style="padding:5"></td>
                    </tr>
                    <tr>
                        <td style="font-style:italic">Institude of Technical Education College West</td>
                        <td></td>
                        <td>Jan 2015 - Dec 2016</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Candidate for NITEC in InfoComm-Technology</td>
                    </tr>
                    <tr>
                        <td>+ Specialize Networking &Aacute; System Adminstration</td>
                    </tr>
                    <tr>
                        <td>+ Culminative GPA: 3.93</td>
                    </tr>
                    <tr>
                        <td>+ Graduated in 2017</td>
                    </tr>
                    <tr>
                        <td style="padding:5"></td>
                    </tr>
                    <tr>
                        <td style="font-style:italic">Clementi Woods Sec School</td>
                        <td></td>
                        <td>Jan 2010 - Dec 2014</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">GCE 'N' &amp; 'O' Levels</td>
                    </tr>
                    <tr>
                        <td>+ Graduated in 2014</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>
<hr />
{% endblock %}
